.chat--form__field {
  padding: 12px 15px;
  width: 100%;
  border: none;
  outline: none;
  background: var(--color-background-mute);
  border-radius: 5px;

  &.invalid {
    border: 1px solid var(--rc-color-red);
    background: var(--rc-color-red-light);
  }

  &::placeholder {
    opacity: .4;
  }
}