.button {
  padding: 0;
  border: none;
  appearance: none;
  background: transparent;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    opacity: .7;
  }
}

@import "_accent/button_accent";
@import "_primary/button_primary";
@import "_chat/button_chat";
@import "_icon/button_icon";