.chat--form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: var(--rc-message-width);
}

@import "__error/form__error";
@import "__field/form__field";
@import "__wrapper/form__wrapper";